body {
    font-family: Arial, sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #17072b;
    color: #FFFFFF;
    padding: 100px;
    text-align: center;
}