h1 {
    margin: 30px;
}

p {
    margin: 40px;

}

li {
    text-indent: 10px;
    margin: 10px;
}

h2 {
    margin: 20px;
}

img {
    height: 28%;
    width: 28%;
    float: right;
}

div.class {
    float: right;
}